<%= form_with(model: host, class: "contents") do |form| %>
  <% if host.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul class="list-disc ml-6">
        <% host.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": host.errors[:name].none?, "border-red-400 focus:outline-red-600": host.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :address %>
    <%= form.text_field :address, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": host.errors[:address].none?, "border-red-400 focus:outline-red-600": host.errors[:address].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :interval %>
    <%= form.number_field :interval, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": host.errors[:interval].none?, "border-red-400 focus:outline-red-600": host.errors[:interval].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :group_id, "Group" %>
    <%= form.collection_select :group_id, Group.order(:name), :id, :name,
          { prompt: "Select a group" },
          class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
                  {"border-gray-400 focus:outline-blue-600": host.errors[:group_id].none?,
                   "border-red-400 focus:outline-red-600": host.errors[:group_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
